html,body,div,p,hr,h1,h2,h3,h4,h5,h6,h7,table,tbody,th,td,form,fieldset,textarea,option,ul,ol,li,img{padding:0;margin:0;border:none;background:transparent;vertical-align:top;text-align:left;font-weight:normal;font-size:16px;font-family:Helvetica,Arial,sans-serif;line-height:1.4}
html{
overflow-y:scroll;
-webkit-text-size-adjust:none}
input{padding:0;margin:0;text-align:left;font-weight:normal;font-size:medium;font-family:Helvetica,Arial,sans-serif;line-height:1.4}
select{text-align:left;font-weight:normal;font-size:medium;font-family:Helvetica,Arial,sans-serif;line-height:1.4}
input[type=text],textarea{-webkit-user-modify:read-write-plaintext-only}
table{border-spacing:0}
img,input{vertical-align:middle}
ul{padding-left:28px;list-style-position:outside}
ol{padding-left:34px;list-style-position:outside}
:focus{outline:none}
button::-moz-focus-inner,input[type=submit]::-moz-focus-inner{border:0}
body{padding:0;margin:0}
.clear{display:block;clear:both;height:0;font-size:0;line-height:0}
.left{text-align:left !important}
.right{text-align:right !important}
.center{text-align:center !important}
.small{font-size:small}
.nowrap{white-space:nowrap}
.bigger{font-size:150%}
.invisible{width:1px;height:1px;margin:-1px;overflow:hidden;position:absolute;padding:0;border:none;clip:rect(0,0,0,0)}
.marginTopNone{margin-top:0 !important}
.marginBottomNone{margin-bottom:0 !important}
@media only screen and (min-width:720px){#debugFooter p{margin:15px 30px !important}
}
body{background:#ffffff;color:#474747}
a{color:#4488bb;transition:color 0.1s ease 0s}
a:hover,a:focus{color:#2b5777}
.overthrow-enabled .overthrow{overflow-x:auto;-webkit-overflow-scrolling:touch}
.content{max-width:984px;margin:0 auto}
.content .content{background:#f00}
.header .in{padding:0 10px;height:60px;overflow:hidden;font-size:large;font-weight:bold}
.header .brandLogo{float:left;font-size:large;font-weight:bold;margin:15px 10px 0 0}
.header .brandLogo.hideable{display:none}
.header .logo{float:right;margin-top:19px;text-decoration:none}
.header .action{position:relative;float:left;display:block;margin-top:8px;padding:10px;font-size:medium;font-weight:normal;text-decoration:none;white-space:nowrap}
.header .action span{position:relative;margin-left:7px;top:2px}
h1,h2{margin:30px 20px;color:#474747}
h1:after,h2:after{content:'';display:block;clear:right}
h1 .subtitle,h2 .subtitle{display:block;font-size:16px;margin-left:1px;color:#919191}
h1{font-size:28px}
h1 .button{float:right;margin-left:8px;padding:8px 8px 6px 8px;font-size:small}
h1 .right{float:right;margin-left:8px}
h2{margin-bottom:15px;font-size:22px}
h3{margin:25px 20px 15px;font-weight:bold;font-size:16px}
h1 + h2,h2 + h3{margin-top:10px}
h2 + form h3:first-child{margin-top:15px}
p{margin:15px 20px}
p a{padding:4px 0}
ul,ol{margin:10px 20px 10px 10px}
li{margin-top:10px}
#page > .content:first-child > p:first-child{margin-top:15px}
.block{margin:20px 0;background:#f6f6f6;overflow:hidden}
.block.limitedWidth{max-width:984px;margin-left:auto;margin-right:auto}
.block > h2:first-child,.block > h3:first-child,.block > .content:first-child > h2:first-child,.block > .content:first-child > h3:first-child,.block > .content:first-child .col:first-child > h2:first-child,.block > .content:first-child .col:first-child > h3:first-child{margin-top:15px}
.block > .image:last-child,.block > .content:last-child > .image:last-child,.block > .content:last-child .col:last-child > .image:last-child{margin-top:15px}
.block + .block{margin-top:-20px}
.note{color:#919191;font-size:small}
#page{padding-bottom:5px}
#page > .block.fullWidth:last-child{margin-bottom:-5px}
@media only screen and (min-width:720px){.columns .col,.columns.responsive .col{width:50%;float:left}
.tabletOnly{display:inherit}
.phoneOnly{display:none}
h1{font-size:42px;margin:40px 30px}
h1 .button{margin-top:6px}
h2{font-size:28px;margin:60px 30px 20px}
h3{margin:40px 30px 20px}
p{margin:20px 30px}
ul,ol{margin:20px 30px 20px 20px}
#page{padding-bottom:20px}
#page > .content:first-child > h2:first-child,#page > .content:first-child > h3:first-child,#page > .content:first-child > p:first-child,#page > .components:first-child > .component:first-child .inlineEditor h2:first-child,#page > .components:first-child > .component:first-child .inlineEditor h3:first-child,#page > .components:first-child > .component:first-child .inlineEditor p:first-child{margin-top:30px}
#page > .block.fullWidth:last-child{margin-bottom:-20px}
}
.form{margin:30px 0}
.form .formIn{border:1px solid #d3d3d3;border-width:1px 0 1px 0;background:#f6f6f6;color:#474747}
.form h2{text-align:center}
.form h2:first-child{margin-top:15px}
.form h3:first-child{margin-top:15px}
.form table{width:100%;background:transparent}
.form table th{width:60px;padding:5px 10px 0 10px;text-align:right;vertical-align:top}
.form table td{padding-bottom:10px}
.form table tr:last-child td{padding-bottom:0}
.form .row{margin:10px 20px}
.form .row:first-child{margin-top:20px}
.form .row.otherOptionRow{margin-left:45px}
.form .row .row{margin:10px 0}
.form .row .row:first-child{margin-top:0}
.form .buttons{margin:20px 20px}
.form .indent{padding-left:25px}
.form .input{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #cccccc;border-top-color:#a3a3a3;padding:8px 9px 6px;border-radius:4px;background:#ffffff;width:100%;color:#474747;
-webkit-appearance:none}
.form .input.wrongInput{border-color:#900}
.form .input:focus{border-color:#3d7aa8;box-shadow:0 0 2px #3d7aa8}
.form .input.inputShort{width:120px}
.form .input[disabled="disabled"]{background:#ffffff;color:#b6b6b6}
.form .input::-webkit-input-placeholder{color:#cccccc}
.form .input:-moz-placeholder{color:#cccccc}
.form .input::-moz-placeholder{color:#cccccc}
.form .input:-ms-input-placeholder{color:#cccccc}
.form select{border:1px solid #cccccc;border-top-color:#a3a3a3;padding:8px 22px 6px 9px;border-radius:4px;color:#474747;cursor:pointer;max-width:100%;-webkit-appearance:none;background:#ffffff url("../images/themes/Default/arrows/select-474747.png") right center no-repeat}
.form select::-ms-expand{display:none}
.form select:focus{border-color:#3d7aa8;box-shadow:0 0 2px #3d7aa8}
.form option{padding:0 9px}
.form .checkbox,.form .radio{margin:13px 0 0 1px;float:left;cursor:pointer;vertical-align:top}
.form .checkboxCol{margin-left:26px}
.form .checkboxCol label{margin-left:0}
.form label{display:block;margin:0 0 5px}
.form label.required span{margin-left:5px}
.form label.clickable{display:inline-block;cursor:pointer;margin:0;padding:8px 0 6px;vertical-align:baseline}
.form label.checkboxRow{display:block;margin:0}
.form label.disabled{color:#b6b6b6;cursor:auto}
.form label .checkbox,.form label .radio{float:none;margin:5px 10px 2px 1px}
.form .note{margin:5px 0 0 0}
.buttons{margin:15px 20px;text-align:center}
.buttons .button{margin:5px;min-width:40px}
.button{-moz-box-sizing:content-box;-ms-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;display:inline-block;vertical-align:middle;border:none;border-bottom:4px solid #22445d;border-radius:4px;padding:12px 10px 10px;background:#3d7aa8;color:#ffffff !important;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:16px;transition:color 0.1s ease 0s,background-color 0.1s ease 0s,border 0.1s ease 0s,box-shadow 0.1s ease 0s;-webkit-appearance:none}
.button:hover,.button:focus{border-bottom-color:#1c384d;background-color:#33668c;color:#ffffff !important}
.buttonLight{border:1px solid #cccccc;border-width:1px 1px 4px 1px;background:#ffffff;color:#474747 !important}
.buttonLight:hover,.buttonLight:focus{border-bottom-color:#c6c6c6;background-color:#f7f7f7;color:#474747 !important}
.buttonDisabled,.buttonDisabled:hover,.buttonDisabled:focus{border-color:#c0c0c0;background:#d9d9d9;color:#777 !important;cursor:default}
@media only screen and (max-width:380px){.buttons{margin:20px 20px}
.buttons .button{display:block;margin:0 0 15px 0;padding-left:5%;padding-right:5%;width:90%}
.buttons .button:last-child{margin-bottom:0}
}
@media only screen and (min-width:381px){.form{margin:30px 20px}
.form .formIn{margin-left:auto;margin-right:auto;min-width:300px;display:table;border-width:1px;border-radius:4px}
.form input.input,.form select{max-width:300px}
.columns .form .formIn{min-width:0}
.buttons .button{padding-left:25px;padding-right:25px}
.buttons,.form .buttons{margin-left:15px;margin-right:15px}
}
@media only screen and (min-width:720px){.form{margin:40px auto;max-width:600px}
.form .row{margin:20px 30px}
.form .row.otherOptionRow{margin-top:-10px;margin-left:55px}
.form h2:first-child,.form h3:first-child,.form .flashes:first-child{margin-top:20px}
.form label.checkboxRow{display:inline-block;min-width:100px}
.buttons,.form .buttons{margin-left:25px;margin-right:25px}
}